
    <div class="wrapper">
        
    <div class="brand">
      <h3>LOGO HERE</h3>
      <img class="login-image" src="../../../assets/login.png"/>
    </div>

<div class="login">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h3 class="login-header"><b>SCM LOGIN</b></h3>
      <div class="form-group">
      <input type="email" name="username" placeholder="User ID *" formControlName="username"  id="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }">
      <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
        <div *ngIf="f['username'].errors?.['required']">Username is required</div>
      </div>

      <input type="password" name="password" placeholder="Password *" formControlName="password"  id="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
      <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
        <div *ngIf="f['password'].errors?.['required']">Password is required</div>
      </div>

      <button type="submit" name="send" value="Login" 
              (click)="onSubmit()" [disabled]="loading" class="login-button">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Login
      </button>
      <div class="forgot">
              <a routerLink="/register" ><b>Forgot Password?</b></a>
      </div> 
      </div>
  </form>
</div>
    </div> 
