* {
    margin: 0;
    padding: 0;
    border: none;
    border-style: none;
    outline: none;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: row;
    border-radius: 25px;
}


.flex-item{
    color: #323C47;
    text-align: center;
}

.main{
    display: flex;
    flex-direction: column;
    background: white;
    width: 80%;
    height: 100vh;
    background: white;
    content: "";
    padding: 0%;
}


.flex-item.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 1px;
    margin-bottom: 0;
    border-bottom: 1px solid #D9DBE9;
    padding: 24px 44px 24px 4px;
    gap: 4px;
}

.search{
    border-radius: 0;
    border: #323C47;
    display: flex;
    align-items: flex-start;
    gap: 3px;
    width: 60%;
    padding-bottom: 0;
    margin: 0;
}

.search-input{
    display: flex;
    padding: 4px 16px;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    border-radius: 1px;
    border: 1px solid #D9DBE9;
    width: 100%;
}

.search-input{
    padding-top: 8px;
    height: 40px;
}

.search-input input{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50%;
}

.notification{
    width: 10%;
    height: 24px;
    flex-shrink: 0;
    padding: 2px 24px 10px 10px;
    margin-left: 0;
    border-left: 0;
}

.user{
    display: flex;
    float: right;
    align-items: end;
    justify-content: right;
    width: 20%;
    padding-left: 20px;
}

.user .pro-image{
    border-radius: 20px;
    float: left;
    width: 20%;
    height: 40px;
    margin-top: 5px;
}

.user p{
    color: #192A3E;
    font-weight: 500;
    margin-top: 10px;
    font-size: 16px;
    width: 100%;
}

.user p span{
    font-weight: 400;
    font-size: 14px;
    display: block;
    color: #192A3E;
}

.checklist .heading {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    border-radius: 1px;
    padding: 5px 20px 15px 20px;
    margin-top: 10px;
}

.checklist .heading h2{
    position: fixed;
    color: #192A3E;
    font-family: SF Pro Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 4px;
}

.checklist .heading div{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 80%;
}

.checklist .heading .btn4{
    display: flex;
    width: 120px;
    height: 30px;
    padding: 4px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    border: 1px solid #013397;
    background:  #FCFCFC;
    color: #013397;
    font-family: SF Pro Display;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; 
    letter-spacing: 0.1px;
    cursor: pointer;
}

.checklist .content-table{
    display: table;
    table-layout: fixed;
    width: 100%;
}

.checklist .content-table .table-scroll{
    display: table-cell;
    width: 100%;
    white-space: nowrap;
}

.checklist .content-table table{
    width: 100%;
    border-collapse: collapse;
}

.checklist .content-table th{
    align-items: center;
    text-align: justify;
    border-bottom: 1px solid #D9DBE9;
    border-top: 1px solid #D9DBE9;
    height: 32px;
    background:  #F2F2F2;
    padding-right: 0%;
    color: #192A3E;
    font-family: SF Pro Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 20px;
}

.checklist .content-table td{
    padding: 9.5px 0px 9.5px 24px;
    align-items: center;
    text-align: justify;
    gap: 8px;
    color:#323C47;
    font-family: SF Pro Display;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
}

.checklist .content-table td a{
    text-decoration: none;
    display: inline-flex;
    height: 20px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    color: #013397;
    font-family: SF Pro Display;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
    letter-spacing: 0.1px;
}

.checklist .openFilterOne{
    display: none;
}

.checklist .filter{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 60px;
    border-radius: 1px;
    padding: 10px 20px 0px 20px;
    border-top: 1px dashed #D9DBE9;
}

.checklist .filter span{
    display: inline-flex;
    width: 260px;
    display: flex;
    border: 1px solid #D9DBE9;
    border-radius: 4px;
    margin-right: 70px;
    margin-bottom: 10px;
    align-items: center;
}

.checklist .filter span input{
    padding-left: 10px;
}

.checklist .filter span a{
    display: inline-flex;
    align-items: center;
    padding-left: 35px;
}

.checklist .filter span.search a{
    display: inline-flex;
    align-items: center;
    padding-left: 10px;
}


.checklist .form-popup {
    display: none;
    position: fixed;
    top: 100px;
    right: 15px;
    border: 1px solid #D9DBE9;
    border-radius: 5px;
    z-index: 9;
  }

  .checklist .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }

  .checklist .form-content{
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
  }

  .checklist .form-content span{
    text-align: right;
    padding: 0;
    cursor: pointer;
  }

  .checklist .form-content button{
    background-color: #FFF;
    color: #323C47;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    font-family: SF Pro Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
  }


  .checklist .form-delete-popup {
    display: none;
    position: fixed;
    top: 45%;
    left: 45%;
    border: 1px solid #D9DBE9;
    border-radius: 10px;
    z-index: 9;
  }

  .checklist .form-delete-container {
    max-width: 500px;
    background-color: white;
  }

  .checklist .form-delete-content{
    display: flex;
    flex-direction: column;
    margin: 0%;
    width: 500px;
  }

  .checklist .form-delete-content .heading{
    display: flex;
    flex-direction: row;
    align-self: stretch;
    color: #192A3E;
    font-family: SF Pro Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15px;
    padding: 14px;
  }

  .checklist .form-delete-content .heading img{
    height: 16px;
    width: 16px;
    margin-right: 20px;
  }

  .checklist  .form-delete-content .content{
    display: flex;
    padding: 0px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex: 1 0 0;
  }

  .checklist .form-delete-content .content p{
    align-self: stretch;
    color: #192A3E;
    font-family: SF Pro Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.2px;
  }

  .checklist .form-delete-content .footer{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px 14px;
  }

  .checklist .form-delete-content .footer .btn1{
    display: flex;
    width: 80px;
    padding: 4px 16px;
    border: none;
    background: none;
    color: #013397;
    font-family: SF Pro Display;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; 
    letter-spacing: 0.1px;
    cursor: pointer;
  }

  .checklist .form-delete-content .footer .btn2{
    display: flex;
    padding: 2px 8px;
    border-radius: 4px;
    border: 1px solid #013397;
    background: #013397;
    color:  #FCFCFC;
    font-family: SF Pro Display;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.1px;
    cursor: pointer;
  }

  .checklist .form-delete-content .footer .deletepopuptext{ 
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 30%;
    left: 75%;
    margin-left: -80px;
  }

  .checklist .form-delete-content .footer .deletepopuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .checklist .form-delete-content .footer .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  .checklist .form-content .reminderpopuptext{ 
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: -50%;
    left: -50%;
    margin-left: -80px;
  }

  .checklist .form-content .reminderpopuptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .checklist .form-content .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

 /* 
  */

.status{
    padding: 2px 4px;
    border-radius: 25px;
}

.status.approved{
    background: #E5FAEC;
    color: #00702A;
}

.status.in-process{
    color: #192A3E;
    border: 1px solid #D9DBE9;
    background: #F2F2F2;
}

.status.new{
    background: #D6E4FF;
    color: #013397;
}

.status.draft{
    color: #192A3E;
    border: 1px solid #D9DBE9;
    background: #F2F2F2;
}

.flex-item.pagination {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    border-radius: 1px;
    align-items: center;
    justify-content: end;
    padding: 0px 50px;
    border-bottom: 1px solid #D9DBE9;
    border-top: 1px solid #D9DBE9;
    text-wrap: nowrap;
  }

.pagination a{
    display: inline-flex;
    text-decoration: none;
    color: #323C47;
    font-family: SF Pro Display;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 0.25px;
    padding-left: 30px;
  }

.pagination .img{
    display: inline-flex;
    align-items: center;
  }

.pagination span{
    display: inline-flex;
    width: 75px;
    height: 40px;
    border: 1px solid #D9DBE9;
    border-radius: 3px;
    padding: 9px 9px 9px 9px;
    margin-left: 10px;
}

.pagination .box a{
    padding-left: 2px;
}

.pagination .box p{
    padding-left: 2px;
}

.pagination .box img{
    display: inline-flex;
    padding-left: 10px;
    align-items: center;
}

.openFilter{
    display: none;
}

.filter{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    border-radius: 1px;
    padding: 10px 20px 10px 20px;
    border-top: 1px dashed #D9DBE9;
}

.filter span{
    display: inline-flex;
    width: 250px;
    display: flex;
    border: 1px solid #D9DBE9;
    border-radius: 4px;
    margin-right: 30px;
}
.filter span input{
    padding-left: 10px;
}

.filter span a{
    display: inline-flex;
    align-items: center;
    padding-left: 35px;
}